<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="new-poll-title">
        <h3>Put Your Own Ballot Box Out There</h3>
    </div>
    <div id="new-poll" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="created">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-center">
                <form ng-submit="createPoll()" name="newPollForm" novalidate>
                    <div class="form-group has-feedback" 
                    ng-class="{ 'has-error': (newPollForm.pollQuestion.$invalid && newPollForm.pollQuestion.$dirty) || (creationError && !created),
                    'has-success': (newPollForm.pollQuestion.$valid && newPollForm.pollQuestion.$dirty) || (!creationError && created) }">
                        <label for="pollQuestion" >The Poll</label>
                        
                        <input type="text" class="form-control" id="pollQuestion" name="pollQuestion" 
                        ng-model="poll" 
                        placeholder="Poll Question" 
                        ng-minlength="2" 
                        required="required" />
                        <span ng-show="newPollForm.pollQuestion.$invalid && newPollForm.pollQuestion.$dirty" class="help-block">You need a valid poll question with at least two characters</span>
                        <span ng-show="" class="help-block">This poll is already out there</span>
                    </div>
                    <label>Options</label>
                    <div class="form-group has-feedback" ng-repeat="option in options"
                    ng-class="{'has-error': newOptForm.newOpt.$invalid || !option.unique, 'has-success': newOptForm.newOpt.$valid && newOptForm.newOpt.$dirty && option.optText.length > 0}">
                        <div class="input-group">
                            <ng-form name="newOptForm">
                                <input type="text" class="form-control poll-option" ng-minlength="1" placeholder="Add Option" ng-model="option.optText" ng-change="checkIfUnique(option)" name="newOpt">
                            </ng-form>
                            <span class="input-group-btn" class="add-option">
                                <button class="btn glyphicon" ng-class="{ 'btn-success glyphicon-ok' : !option.added, 'btn-danger glyphicon-remove' : option.added }" type="button" ng-click="option.added ? removeOpt(option, $index) : addOpt(option, $index)"></button>
                            </span>
                        </div>
                         <span ng-show="newOptForm.newOpt.$invalid && newOptForm.newOpt.$dirty" class="help-block">An option must have at least one character</span>
                         <span ng-show="!option.unique" class="help-block">This option has already been added</span>
                    </div>
                    <div class="form-group">
                        <label><input type="checkbox" name="private" ng-model="secret" disabled="disabled"> Private Poll </label>
                    </div>
                    <button type="submit" class="btn btn-default">Create</button>
                    <button class="btn btn-default" disabled="disabled">Save</button>
                    <span class="help-block" ng-show="created && !creationError">{{message}}</span>
                    <span class="help-block" ng-show="!created && creationError">{{message}}</span>
                </form>
            </div>
        </div>
    </div>
    <div id="created-poll" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="!created || creationError">
        <div class="row text-center">
            <h2>Your Ballot Box is now open!</h2>
            <p>It is now on the home page(if not marked as private).</p>
        </div>
        <div class="row row-centered">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-centered">
                <div class="input-group pull-right">
    				<input id="poll-link" type="text" class="form-control" value="{{newPollUrl}}" select-on-click readonly>
    				<span class="input-group-btn">
    					<button class="btn btn-secondary btn-success" type="button" ngclipboard data-clipboard-text="{{newPollUrl}}">Share</button>
    				</span>
    			</div>
			</div>
		</div>
		<div class="row row-centered">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-centered text-center" id="create-new-poll">
                <label>Would you like to make another?</label>
                <button class="btn btn-primary" ng-click="created = !created"> New Poll</button>
            </div>
        </div>
        </div>
    </div>
</div>