<div id="single-main" class="row" >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-heading">
        <h3>{{ poll.question }}</h3>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 poll-information">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
            <h4>Created By {{ poll.creator.name }}</h4>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
            <h4>With {{ poll.totalVotes }} Votes</h4>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
            <h4>On {{ poll.creationDate.human }}</h4>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
			<div class="chart" id="single-chart"></div>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
						<h4>Results</h4>
					</div>
				</div>
				<div class="row row-centered">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-centered" ng-repeat="option in poll.options">
						<b>{{option.vote}}: </b> <span>{{option.count}}</span>
					</div>
				</div>
			</div>
			<form name="voteForm" ng-submit="vote(poll)" class="single-poll-form" novalidate>
				<div class="form-group has-feedback"
				ng-class="{'has-success': voteMessage.submitted && !voteMessage.error, 'has-error': !voteMessage.submitted && voteMessage.error }">
					<label for="voteOption" class="pull-left">Your Vote</label>
					<select class="form-control" id="voteOption" name="voteOption" 
					ng-model="userVote" 
					ng-disabled="poll.alreadyVoted" 
					ng-options="option.vote for option in poll.options"></select>
					<span class="help-block" ng-show="poll.alreadyVoted">You've already voted on this poll</span>
					<span class="help-block" ng-show="voteMessage.submitted">{{voteMessage.message}}</span>
					<span class="help-block" ng-show="!voteMessage.submitted && voteMessage.error">{{voteMessage.message}}</span>
				
				</div>
				<button type="submit" class="btn btn-primary" ng-disabled="poll.alreadyVoted || voteMessage.submitted">Vote</button>
			</form>
			<!-- TODO: Form verification with feedback -->
			<form name="addOptForm" ng-submit="addOption(userNewOption, poll)" class="single-poll-form" novalidate>
				<div class="form-group has-feedback" ng-class="{ 'has-error' : (addOptForm.newOption.$error.minlength || addOptForm.newOption.$invalid) && !addOptForm.newOption.$pristine || addError, 'has-success' : addOptForm.newOption.$valid && !addOptForm.newOption.$pristine && !addError}">
					<label for="newOption" class="pull-left">New Option</label>
					<input 
					id="newOption" name="newOption" ng-model="userNewOption" 
					class="form-control"
					ng-class=""
					placeholder="{{loggedIn === true ? 'Add an Option' : 'You Must Be Signed In'}}" 
					ng-minlength="1" 
					aria-describedby="" 
					ng-disabled="{{loggedIn === false}}" 
					required>
					<span class="glyphicon form-control-feedback"
					ng-class="{{(addOptForm.newOption.$error.minlength || addOptForm.newOption.$invalid) && !addOptForm.newOption.$pristine ? 'glyphicon-remove' : 'glyphicon-ok'}}" 
					aria-hidden="true"></span>
					<span id="inputSuccess2Status" class="sr-only">(success)</span>
					<span ng-show="addError" class="help-block">{{addMessage}}</span>
					<span ng-show="!addError" class="help-block">{{addMessage}}</span>
					<span ng-show="addOptForm.newOption.$invalid && addOptForm.newOption.$dirty" class="help-block">It must be at least 1 character long</p>
					
				</div>
				<button type="submit" class="btn btn-primary pull-right" ng-disabled="{{!loggedIn || addOptForm.$invalid}}">Add</button>
			</form>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 legend-share-info">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<span class="pull-left">* Legend is clickable to remove options</span>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="input-group pull-right">
				<input id="poll-link" type="text" class="form-control" value="{{poll.url}}" select-on-click readonly>
				<span class="input-group-btn">
					<button class="btn btn-secondary btn-success" type="button" ngclipboard data-clipboard-text="{{poll.url}}">Share</button>
				</span>
			</div>
		</div>
	</div>
</div>