html, body {
  height: 100%
}

body {
  overflow-x: hidden;
  background-color: #c7c7c7 !important;
  position: relative;
  padding-bottom: 40px;
  min-height: 100%;
}

.col-center {
  float: none !important;
  margin-right: auto;
  margin-left: auto;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none !important;
  text-align: left;
  margin-right: -4px; 
}

.glyph-red {
  color: #a94442;
}

.glyph-green {
  color: #449d44;
}


#account-bar {
  background-color: #11204d;
  height: 30px;
  overflow: hidden;
}

#site-name {
  font-size: 26px;
}

#site-name > a {
  color: #88b4ce;
  text-decoration: none;
}

#account-tabs > li > a {
  color: #88b4ce;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

#site-name > a:hover, #account-tabs > li > a:hover {
  color: #fff;
}

header ul {
  list-style: none;
}

header ul > li {
  display: inline-block;
  float: left;
  margin-left: 15px;
  line-height: 30px;
}


/********************
*
* Index Main Display 
*
********************/
#main-display {
  /*background-color: #0a6bc5;*/
  padding-top: 50px;
  position: relative;
  
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
}


#descript-display {
  color: #fff;
}

#descript-display span {
  font-size: 26px;
  word-wrap: break-word;
  overflow: hidden;
}

@media (max-width: 768px) {
  #descript-display span {
    font-size: 20px;
  }
}

#poll-nav-row {
  margin-top: 5px;
}

#poll-nav {
  z-index: 10;
  margin-bottom: -1px;
}

#poll-nav > li {
  border-bottom: 1px solid #fff;
  padding-right: 1px;
  max-height: 50px;
}

#poll-nav > li > a {
  background: #11204d;
  font-size: 20px;
  max-height: 50px;
}

@media (max-width: 544px) {
  #poll-nav > li {
    min-width: 113px;
  }
  #poll-nav > li > a {
    font-size: 18px;
  }
}

.nav-tabs.nav-justified>li>a {
  border-bottom: 0px solid #fff !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
  border: 1px solid #fff !important;
  border-bottom: 1px solid #06467F !important;
  background-color: #06467F !important;
  color: #fff !important;
  margin-bottom: -1px !important;
}


@media (max-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  
  .nav-justified > li > a {
    border-bottom: 1px solid #ddd !important;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: 0 !important;
  }
}


/********************
*       
*      Footer
*
********************/

.main {
  min-height: 100%
}

#view-container {
  overflow: auto;
  
}

#footer {
  height: 40px;
  line-height: 50px !important;
  clear: both;
  position: relative;
}

#footer .row {
  background-color: #ff7f0e;
}

#top-contain {
  z-index: 10;
}

#topArrow {
  margin-right: -30px;
}

#topArrow:hover, #topArrow i:hover {
  cursor: pointer;
}

#topArrow i {
  font-size: 30px;
  line-height: 40px !important;
}

#copy-contain span {
  margin-right: 10%;
}


/**************************
*
*   Main View Controller 
*
**************************/
#view-container {
  height:100%;
  background-color: #fff;
  border-top: 1px solid #fff;
  z-index: 0;
}


/*******************
*
*  Index Poll Area 
*
*******************/

.poll-heading:hover > .panel-title > a > span {
  color: red !important;
}

.poll-area {
	height: 100%;
}

.poll-row {
	margin: 0px 0px !important;
	background-color: #06467F;
	padding-left: 10px;
}

.poll-row:hover {
  /*background-color: #74ADE0;*/
}

.poll-row a {
  color: #fff;
}

.poll-row a:hover {
  color: #032A4D;
  text-decoration: none;
}

.poll-chart-area {
  height: 10px;
  background-color: #06467F;
}

.loading {
  min-height: 150px;
}

/**************
*
* Accordion
*
***************/
.panel-group {
  margin-bottom: 0px !important;
}
.panel-group .panel {
  border-radius: 0px !important;
}

.panel-group .panel+.panel {
  margin-top: 0px !important;
}

.panel {
  border: 0px solid transparent !important;
}
.panel-default {
  border-color: transparent !important;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 0px solid transparent !important;
}

.panel-heading {
  background-color: #06467F !important;
  border-radius: 0 0 !important;
  border-bottom: 1px solid #fff !important;
  cursor: pointer;
  height: 45px;
}

.panel-heading h4 > a {
  font-size: 24px;
  color: #fff;
}

.panel-body {
  padding-top: 0px !important;
}

.fadein, .fadeout {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.fadin {
  opacity: 1;
}

.poll-information {
  background-color: #74ADE0;
  margin-bottom: 5px;
}

.share-tooltip {
  position: absolute;
  bottom: 125%;
  right: 4%;
  background-color: #ff7f0e;
  color: white;
  padding: 5px 2px;
  border-radius: 5px;
  text-align: center;
}

.share-tooltip::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: #ff7f0e transparent transparent transparent;
  top: 100%;
  right: 35%;
}


.panel-title {
  position: relative;
}

.panel-heading > .panel-title > a:hover {
  text-decoration: none;
}

.panel-heading > .panel-title > a > span > .responsive-title {
    transition: all 1s ease;
    position: absolute;
    left: 0;
    max-height: 30px;
    overflow: hidden;
}

.panel-heading:hover > .panel-title > a > span > .responsive-title  {
    /*left: 50%;
    transform: translateX(-50%);*/
}

.panel-heading {
  -webkit-transition: background-color 1s ease;
  overflow: hidden;
}

.panel-heading:hover {
  background-color: #ff7f0e !important;
}

.active-poll {
 background-color: #ff7f0e !important;
}

.active-poll > .panel-title > a > span > .responsive-title {
  /*left: 50%;
  transform: translateX(-50%);*/
}

.result-options {
  text-align: left;
}

.result-options > ul li {
  padding-right: 10px !important;
  padding-bottom: 10px;
}

/*************
*
*   Charts 
*
*************/
svg {
  display: block;
  margin: auto;
}

.legend, .disabled {
  font-size: 12px;
}

rect {
  cursor: pointer;
  stroke-wdith: 2;
}

rect.disabled {
  fill: transparent !important;
}

.disabled > rect {
  fill: transparent !important;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 80%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.chart-area {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.ttip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  /*width: 80px;*/
  z-index: 9999;
}

/******************
*
*   User Polls
*
*******************/
#poll-manage {
  margin-top: 20px;
}

#no-user-polls {
  padding: 15px 0;
}

.change-btn {
  margin-top: 15px;
}

/******************
*
*    New Poll 
*
*******************/
#new-poll-title {
  background-color: #06467f;
  color: #fff;
  /*height: 50px;*/
  z-index: 0;
}

#new-poll-title > h3 {
  line-height: 45px;
  padding: 0 0;
  margin: 0 0;
}

#new-poll {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}

#create-new-poll {
  margin-top: 10px;
  margin-bottom: 15px;
  
}

#create-new-poll > button {
  padding-left: 10px;
}


/******************
*
*   Single Poll
*
******************/

.single-poll-form {
  text-align: right;
}

.legend-share-info {
  padding: 15px 0;
}
.single-heading {
  background-color: #ff7f0e !important;
  text-align: center;
}

/******************
*
*    Sign Up
*
******************/
.page-heading {
  background-color: #06467f;
  color: #fff;
  height: 45px;
  z-index: 0;
}

.page-heading > h3 {
  line-height: 45px;
  padding: 0 0;
  margin: 0 0;
}

.sign-form-wrapper {
  padding: 15px 0;
}

/******************
*
*     About
*
******************/
#about {
  min-height: 600px;
  padding-top: 25px;
}

.about-block {
  background-color: white;
}

.block-photo {
}

.block-photo img {
  width: 100%;
  max-height: 300px;
  max-width: 300px;
}

.block-info {
  padding-top: 10px;
}

#about-project-header {
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  margin-top: 20px;
  height: 45px;
}

#about-project-header span {
  line-height: 45px;
  font-size: 24px;
}

#about-project {
  padding-top: 15px;
}