/** Header styles **/
header {
	margin-top: 10px;
	border-bottom: #ddd 1px solid;
	height: 50px;
}

header .logo {
	height: 100%;
}

/** Index Poll Area **/
.poll-area {
	background: #ddd;
	height: 500px;
}

.poll-row {
	background: white;
	margin: 5px 5px !important;
}