body {
  overflow-x: hidden;
  background-color: #c7c7c7 !important;
}

.col-center {
  float: none !important;
  margin-right: auto;
  margin-left: auto;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none !important;
  text-align: left;
  margin-right: -4px; 
}


#account-bar {
  background-color: #11204d;
  height: 30px;
}

#site-name {
  font-size: 26px;
}

header ul {
  list-style: none;
}

header ul > li {
  display: inline-block;
  float: left;
  margin-left: 15px;
  line-height: 30px;
}

#account-tabs > li > a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}


/** Index Main Display **/
#main-display {
  height: 400px;
  background-color: #0a6bc5;
  padding-top: 50px;
  position: relative;
}

#logo-display-row {
  position: absolute;
  top: 50;
}

#logo-display > img {
  width: 240px;
}

#descript-display {
  color: #fff;
}

#descript-display span {
  font-size: 28px;
}


#poll-nav-row {
  position: absolute;
  bottom: 0;
}

#poll-nav {
  z-index: 10;
  margin-bottom: -1px;
}

#poll-nav > li {
  border-bottom: 1px solid #fff;
}

#poll-nav > li > a {
  background: #11204d;
  font-size: 20px;
}

.nav-tabs.nav-justified>li>a {
  border-bottom: 0px solid #fff !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
  border: 1px solid #fff !important;
  border-bottom: 1px solid #06467F !important;
  background-color: #06467F !important;
  color: #fff !important;
  margin-bottom: -1px !important;
}


/*Container for ng-view*/
#view-container {
  height:100%;
  background-color: #fff;
  border-top: 1px solid #fff;
  z-index: 0;
}

/** Index Poll Area **/
.poll-area {
	height: 100%;
}

.poll-row {
	margin: 0px 0px !important;
	background-color: #06467F;
	padding-left: 10px;
}

.poll-row:hover {
  /*background-color: #74ADE0;*/
}

.poll-row a {
  color: #fff;
}

.poll-row a:hover {
  color: #032A4D;
  text-decoration: none;
}

.poll-chart-area {
  height: 10px;
  background-color: #06467F;
}

/* Accordion */
.panel-group {
  margin-bottom: 0px !important;
}
.panel-group .panel {
  border-radius: 0px !important;
}

.panel-group .panel+.panel {
  margin-top: 0px !important;
}

.panel {
  border: 0px solid transparent !important;
}
.panel-default {
  border-color: transparent !important;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: 0px solid transparent !important;
}

.panel-heading {
  background-color: #06467F !important;
  border-radius: 0 0 !important;
  border-bottom: 1px solid #fff !important;
  cursor: pointer;
}

.panel-heading h4 > a {
  font-size: 24px;
  color: #fff;
}

.panel-body {
  padding-top: 0px !important;
}

.fadein, .fadeout {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.fadin {
  opacity: 1;
}

.poll-information {
  background-color: #74ADE0;
  margin-bottom: 5px;
}

/** Charts **/
svg {
  display: block;
  margin: auto;
}
.legend {
  font-size: 12px;
}

rect {
  cursor: pointer;
  stroke-wdith: 2;
}

rect.disabled {
  fill: transparent !important;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.chart-area {
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.ttip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 9999;
}

/** User's Polls **/
#poll-manage {
  margin-top: 20px;
}

#no-user-polls {
  padding: 15px 0;
}

/******************
    New Poll 
*******************/
#new-poll-title {
  background-color: #06467f;
  color: #fff;
  height: 50px;
  z-index: 0;
}

#new-poll-title > h3 {
  line-height: 50px;
  padding: 0 0;
  margin: 0 0;
}

#new-poll {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}

#create-new-poll {
  margin-top: 10px;
  margin-bottom: 15px;
  
}

#create-new-poll > button {
  padding-left: 10px;
}

/** Singe Poll **/
#poll-question {
  background-color: #06467f;
  color: #fff;
  line-height: 56px;
}

.single-poll-form {
  text-align: right;
}

.legend-share-info {
  padding: 15px 0;
}

/******************
     Sign Up
******************/
.page-heading {
  background-color: #06467f;
  color: #fff;
  height: 50px;
  z-index: 0;
}

.page-heading > h3 {
  line-height: 50px;
  padding: 0 0;
  margin: 0 0;
}

.sign-form-wrapper {
  padding: 15px 0;
}

/**User Page DEPRECATED**/
.user-main {
  height: 500px;
}
.sidebar {
  background-color: #E4E4E4;
  height: 100%;
}

.content {
  background-color: #ADADAD;
  height: 100%;
}

.user-main ul li {
  margin-bottom: 15px;
}

.poll {
  background: #f5f5f5;
}

.chart {
  width: 100%;
}