<script type="text/ng-template" id="group-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
      <div class="panel-heading" ng-click="isopen = !isopen;">
        <h4 class="panel-title">
          <a href tabindex="0" class="accordion-toggle" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              <div class="responsive-title">
              {{heading}}
              </div>
              <i class="pull-right glyphicon" ng-class="{ 'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen }"></i>
            </span>
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isopen" ng-click="$event.stopPropagation()">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </div>
</script>
<div class="row" ng-show="myPolls.length > 0 && loaded">
    <uib-accordion close-others="oneAtATime">
        <uib-accordion-group template-url="group-template.html"
        ng-repeat="poll in myPolls"
        heading="{{poll.question}}"
        ng-click="drawPoll(poll,'#chart-' + $index, $index)"
        id="{{'poll-' + $index}}">
            <div class="row poll-information">
    			<div class="poll-creator col-lg-4 col-md-4 col-sm-4 col-xs-4">
    				<h4 class="pull-left">Created by You</h4>
    			</div>
    			<div class="poll-votes col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                    <h4>with {{poll.totalVotes}} Vote(s)</h4>
                </div>
                <div class="poll-date col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <h4 class="pull-right">on {{poll.creationDate.human}}</h4>
                </div>
    	    </div>
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left">
                    <div class="chart" id="{{'chart-' + $index}}"></div>
                </div> <!-- End left block -->
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    					<div class="row">
    						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
    							<h4>Results</h4>
    						</div>
    					</div>
    					<!--<div class="row row-centered">
    						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-centered" ng-repeat="option in poll.options">
    							<b>{{option.vote}}: </b> <span>{{option.count}}</span>
    						</div>
    					</div>-->
    					<div class="row result-options">
							<ul class="list-inline">
								<li ng-repeat="option in poll.options"><b>{{option.vote}}</b>: {{option.count}}</li>
							</ul>
						</div>
    					<div class="row">
    					    <div id="option-managment">
    					        <form name="optionManagement" ng-submit="makePollOptionChanges(poll, $index)">
    					            <div class="form-group">
    					                <label for="pollOptions">Options</label>
    					                <div class="input-group" ng-repeat="option in poll.options">
    					                    <input text="text" class="form-control poll-option" value="{{option.vote}}" disabled>
    					                    <span class="input-group-btn">
                                                <button class="btn btn-secondary glyphicon btn-danger glyphicon-remove"
                                                ng-click="removeOpt(option, poll, $index, true)"
                                                type="button"></button>
                                            </span>
    					                </div>

    					                <div class="input-group has-feedback" ng-repeat="newOption in poll.newOptions"
    					                ng-class="{'has-error': !newOption.isUnique && newOption.optText, 'has-success': newOption.isUnique && newOption.optText && !newOption.added }">

    					                    <input text="text" name="newOpt"
    					                    class="form-control poll-option"
    					                    ng-minlength="1"
    					                    ng-maxlength="50"
    					                    placeholder="New Option"
    					                    ng-model="newOption.optText"
    					                    ng-change="aUniqueOption(poll, newOption)"
    					                    ng-disabled="newOption.submittedSuccess || newOption.added">

    					                    <span class="input-group-btn">
                                                <button class="btn btn-secondary glyphicon"
                                                ng-class="{'btn-danger glyphicon-remove': newOption.added, 'btn-success glyphicon-ok': !newOption.added}"
                                                ng-click="newOption.added ? removeOpt(newOption, poll, $index, false) : addOpt(poll, newOption, $index)"
                                                ng-disabled="(!newOption.isUnique && newOption.optText)"
                                                type="button"></button>
                                            </span>

    					                </div>

    				                </div>

    				                <div class="row text-center" id="poll-manage">
                					    <button class="btn" type="button"
                					    ng-class="{'btn-danger': poll.deletePoll, 'btn-default': !poll.deletePoll}"
                					    ng-model="poll.deleteBtn"
                					    ng-click="poll.deletePoll = !poll.deletePoll">Delete Poll</button>

                					    <button class="btn btn-default" type="button"
                					    ng-class="{'btn-danger': poll.clearVotes, 'btn-default': !poll.clearVotes}"
                					    ng-model="poll.clearBtn"
                					    ng-click="poll.clearVotes = !poll.clearVotes">Clear Votes</button>

                					    <button class="btn" type="button"
                					    ng-class="{'btn-primary': poll.isPrivate, 'btn-default': !poll.isPrivate}"
                					    ng-model="poll.privateBtn"
                					    ng-click="poll.isPrivate = !poll.isPrivate">Hide Poll</button>
                					</div>

    					            <button type="submit" class="btn btn-success change-btn">Change Poll</button>
    					            <div class="form-group has-feedback" ng-class="{'has-error': !updateSuccess && message, 'has-success': updateSuccess}">
        					            <span class="help-block" ng-show="poll.updateSuccess">{{message}}</span>
    					            </div>
    					        </form>
    					    </div>
    					</div>

    			    </div> <!--End right block -->
                </div>
            </div>
            <div class="row legend-share-info">
    			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    				<span class="pull-left">* Legend is clickable to remove options</span>
    			</div>
    			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    				<div class="input-group pull-right">
    					<input id="poll-link" type="text" class="form-control" value="{{poll.url}}" select-on-click readonly>
    					<span class="input-group-btn">
    						<button class="btn btn-secondary btn-info share" type="button" ngclipboard data-clipboard-text="{{poll.url}}"
							popover-animation="true" uib-popover="Copied!" popover-trigger="click outsideClick">Share</button>
    					</span>
    				</div>
    			</div>
		    </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
<div class="row" ng-show="myPolls.length === 0 && loaded">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-heading">
		<h3>Uh oh! You don't have any polls</h3>
	</div>
	<div class="col-lg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="no-user-polls">
	    <label>Click below to create your own</label>
	    <br />
	    <a href="#/new/poll"><button class="btn btn-primary">New Poll</button></a>
	</div>
</div>

<div class="row" ng-show="myPolls.length === 0 && !loaded">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-heading">
		<h3>Requesting Your Polls...</h3>
	</div>
	<div class="col-lg-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
	   <h4>Sorry for the wait!</h4>
	</div>
</div>